@tailwind base;
@tailwind components;
@tailwind utilities;

body,html,#root{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(181, 201, 233);
}

main{
    width: 100%;
    max-width: 768px;
    background: #fff;
}

.list label.active{
    text-decoration: line-through;
}

input[type="checkbox"].check-box{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1.5px solid gainsboro;
    border-radius: 0.35rem;
    width: 1.5rem;
    height: 1.5rem;
}

input[type="checkbox"].check-box:checked {
    border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: limegreen;
}

.list{
    justify-content: space-between;
}

.list-category{
    border-radius: 50%;
    border: 1px solid #333;
    background: #fff;
    width: 1rem;
    height: 1rem;
}

.list-category p{
    display: none;
}
